[
  {
    "name": "Missing function",
    "files": ["tests/test_01.c", "src/caesar.c", "src/gen_test.c"],
    "compilation_cmd": "-I src"
  },
  {
    "name": "Missing function - NO RESULTS",
    "files": ["tests/test_01.c", "src/caesar.c", "src/gen_test.c"],
    "compilation_cmd": "-I src",
    "no-results": true
  }
]
